@import "../../global.scss";

.ce-paragraph{
  font-size: 18px;
  font-weight: 500;
}

.home_article{
  padding: 15px;
  border: solid 1px rgb(240, 240, 240);
  margin-bottom: 15px;
  border-radius: 12px;
  cursor: pointer;
}

.home_article:hover{
  border: solid 1px rgb(209, 209, 209);
}