$white: #ffffff;
$black: #000000;

$Silly-Yellow: #FFD700;
$Goofy-Orange: #FFA500;
$Whimsical-Purple: #B565A7;
$Playful-Red: #FF4500;
$Crazy-Cyan: #00CED1;
$Lighthearted-Pink: #FFB6C1;
$Zany-Green: #00FF00;
$Wacky-Blue: #6495ED;
$Fools-Gold: #FFD700;
$Laughing-Lavender: #E6E6FA;

$Chartreuse: #7FFF00;
$Neon-Pink: #FF6EC7;
$Lime-Green: #32CD32;
$Electric-Blue: #00FFFF;